/**
 * Theme
 *
 * Adjustable theme settings.
 *
 *============================================================================*/



/* Theme
 *============================================================================*/

$colors-themes: (
  rarity: (
    common   : #7E7E7E,
    rare     : #ae9223,
    epic     : #8f37c6,
    legendary: #d60e0e,
    unique   : #33b26d
  ),
  primary: (
    theme    : #3da1ce,
    primary  : rgba(255,255,255,1),
    secondary: rgba(255,255,255,.8),
    tertiary : rgba(255,255,255,.15)
  ),
  accent: (
    theme    : #D38831,
    primary  : rgba(255,255,255,1),
    secondary: rgba(255,255,255,.8),
    tertiary : rgba(255,255,255,.15)
  ),
  warn: (
    theme    : #dc143c,
    primary  : rgba(255,255,255,1),
    secondary: rgba(255,255,255,.8),
    tertiary : rgba(255,255,255,.15)
  ),
  light: (
    theme    : #FFFFFF,
    primary  : rgba(0,0,0,.9),
    secondary: rgba(0,0,0,.7),
    tertiary : rgba(0,0,0,.15)
  ),
  dark: (
    theme    : #414141,
    primary  : rgba(255,255,255,1),
    secondary: rgba(255,255,255,.8),
    tertiary : rgba(255,255,255,.15)
  )
);

$fonts: (
  primary: "Roboto, sans-serif",
  secondary: "Merienda, cursive",
);



/* Generating CSS variables in :root
 *============================================================================*/

:root {
  @each $group-name, $group in $colors-themes {
    @each $color-name, $color-value in $group {
      --#{$group-name}-#{$color-name}: #{$color-value};
    }
  }
  @each $font-name, $font-value in $fonts {
    --font-#{$font-name}: #{$font-value};
  }
}



/* Generating theme classes
 *============================================================================*/

@each $group-name, $group in $colors-themes {
  .#{$group-name} {
    --theme    : var(--#{$group-name}-theme);
    --primary  : var(--#{$group-name}-primary);
    --secondary: var(--#{$group-name}-secondary);
    --tertiary : var(--#{$group-name}-tertiary);
  }
}