/**
 * Theme
 *
 * Adjustable theme settings.
 *
 *============================================================================*/



/* Theme
 *============================================================================*/

$colors-themes: (
  rarity: (
    common   : #7E7E7E,
    rare     : #ae9223,
    epic     : #8f37c6,
    legendary: #d60e0e,
    unique   : #33b26d
  ),
  primary: (
    theme    : #3da1ce,
    primary  : rgba(255,255,255,1),
    secondary: rgba(255,255,255,.8),
    tertiary : rgba(255,255,255,.15)
  ),
  accent: (
    theme    : #D38831,
    primary  : rgba(255,255,255,1),
    secondary: rgba(255,255,255,.8),
    tertiary : rgba(255,255,255,.15)
  ),
  warn: (
    theme    : #dc143c,
    primary  : rgba(255,255,255,1),
    secondary: rgba(255,255,255,.8),
    tertiary : rgba(255,255,255,.15)
  ),
  theme: (
    fg       : #FFFFFF,
    bg       : #f8f8f8,
    primary  : rgba(0,0,0,.9),
    secondary: rgba(0,0,0,.7),
    tertiary : rgba(0,0,0,.15),
    backdrop : rgba(0,0,0,.06),
    pattern  : url("../../assets/dot-grid.png")
  ),
);

$colors-themes-dark: (
    rarity: (
      common   : #949494,
      rare     : #e2bf32,
      epic     : #ec44ff,
      legendary: #ff5959,
      unique   : #33B26D
    ),
    primary: (
      theme    : #3DA1CE,
      primary  : rgba(255,255,255,1),
      secondary: rgba(255,255,255,.8),
      tertiary : rgba(255,255,255,.15)
    ),
    accent: (
      theme    : #D38831,
      primary  : rgba(255,255,255,1),
      secondary: rgba(255,255,255,.8),
      tertiary : rgba(255,255,255,.15)
    ),
    warn: (
      theme    : #DC143C,
      primary  : rgba(255,255,255,1),
      secondary: rgba(255,255,255,.8),
      tertiary : rgba(255,255,255,.15)
    ),
    theme: (
      fg       : #11303d,
      bg       : #0e2833,
      primary  : rgba(255,255,255,1),
      secondary: rgba(255,255,255,.8),
      tertiary : rgba(255,255,255,.15),
      backdrop : rgba(255,255,255,.06),
      pattern  : url("../../assets/dot-grid-dark.png")
    ),
);

$fonts: (
  primary: "Roboto, sans-serif",
  secondary: "Merienda, cursive",
);



/* Generating CSS variables in :root
 *============================================================================*/

:root {
  @each $group-name, $group in $colors-themes {
    @each $color-name, $color-value in $group {
      --#{$group-name}-#{$color-name}: #{$color-value};
    }
  }
  @each $font-name, $font-value in $fonts {
    --font-#{$font-name}: #{$font-value};
  }
}

[data-theme="dark"] {
  @each $group-name, $group in $colors-themes-dark {
    @each $color-name, $color-value in $group {
      --#{$group-name}-#{$color-name}: #{$color-value};
    }
  }
}



/* Generating theme classes
 *============================================================================*/

@each $group-name, $group in $colors-themes {
  .#{$group-name} {
    --theme    : var(--#{$group-name}-theme);
    --primary  : var(--#{$group-name}-primary);
    --secondary: var(--#{$group-name}-secondary);
    --tertiary : var(--#{$group-name}-tertiary);
  }
}