@import "../breakpoints";

/**
 * Grid
 *
 * A 12-column grid based on display: flex.
 *
 *============================================================================*/



/* Grid
 *============================================================================*/

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

.grid-small {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.grid.nogutter, .grid-small.nogutter {
  [class*="col-"] {
    padding: 0;
  }
}

@media (max-width: 900px) {
  .grid, .grid-small {
    padding: 0 2rem 1rem;
  }
}

@media (max-width: 600px) {
  .grid, .grid-small {
    padding: 0 5px 1rem;
  }
}



/* Columns
 *============================================================================*/

[class*="col-"] {
  padding: 10px;
}

@media (max-width: 600px) {
  [class*="col-"] {
    padding: 5px;
  }
}

.col-0 { display: none; }
@for $i from 1 through 12 {
  .col-#{$i} {
    display: block;
    width: #{$i / 12 * 100%};
  }
}

@media (max-width: $screen-l) {
  .col-l-0 { display: none; }
  @for $i from 1 through 12 {
    .col-l-#{$i} {
      display: block;
      width: #{$i / 12 * 100%};
    }
  }
}

@media (max-width: $screen-m) {
  .col-m-0 { display: none; }
  @for $i from 1 through 12 {
    .col-m-#{$i} {
      display: block;
      width: #{$i / 12 * 100%};
    }
  }
}

@media (max-width: $screen-s) {
  .col-s-0 { display: none; }
  @for $i from 1 through 12 {
    .col-s-#{$i} {
      display: block;
      width: #{$i / 12 * 100%};
    }
  }
}

@media (max-width: $screen-xs) {
  .col-xs-0 { display: none; }
  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      display: block;
      width: #{$i / 12 * 100%};
    }
  }
}